<h1>Photo Details</h1>

<dl>
  <dt>
    Image
  </dt>
  <dd>
    <img src="<%= @the_photo.image %>" height="300px">
  </dd>

  <dt>
    Caption
  </dt>
  <dd>
    <p>
      <%= @the_photo.caption %>
    </p>
  </dd>

  <dt>
    Owner
  </dt>
  <dd>
    <%= @the_photo.poster.username %>
  </dd>

  <dt>
    Posted
  </dt>
  <dd>
    <%= time_ago_in_words(@the_photo.created_at) %> ago
  </dd>

  <dt>
    Likes count
  </dt>
  <dd>
    <%= @the_photo.likes.count %>
  </dd>

  <dt>
    Comments count
  </dt>
  <dd>
    <%= @the_photo.comments.count %>
  </dd>

  <dt>
    Fans
  </dt>
  <dd>
    <%= @the_photo.fans.map(&:username).to_sentence %>
  </dd>

  <dt>
    Add a fan
  </dt>
  <dd>
    <form action="<%= like_photo_path(@the_photo) %>" method="post">
      <%= hidden_field_tag :authenticity_token, form_authenticity_token %>
      <button type="submit">Like</button>
    </form>
  </dd>
</dl>

<h2>Comments</h2>

<table>
  <tr>
    <th>
      Commenter
    </th>

    <th>
      Comment
    </th>

    <th>
      Posted
    </th>
  </tr>

  <% @the_photo.comments.order(created_at: :asc).each do |a_comment| %>

    <tr>
      <td>
        <%= a_comment.commenter.username %>
      </td>

      <td>
        <%= a_comment.body %>
      </td>

      <td>
        <%= time_ago_in_words(a_comment.created_at) %> ago
      </td>
    </tr>
  <% end %>
</table>

<h3>Add a new comment</h3>
<form action="/photos/<%= @the_photo.id %>/add_comment" method="post">
  <input type="hidden" name="input_photo_id" value="<%= @the_photo.id %>">
  <input type="hidden" name="input_author_id" value="<%= current_user.id %>">

  <label for="browser_comment">Comment</label>
  <textarea id="browser_comment" name="input_comment" placeholder="Enter a comment..."></textarea>

  <button type="submit">Add comment</button>
</form>
